{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Comunicações de perda{% endblock title %}

{% block content %}
<div class="container-fluid p-0 m-0">
  <div class="tabela overflow-auto">
    <div class="row">
      <div class="col-12">
        <p class='titulo'>Todas as comunicações</p>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-nowrap align-middle table-hover mb-0">
        <thead>
          <tr style='color:grey; font-weight: 700'>
            <td>Produtor</td>
            <td>Lat. lavoura</td>
            <td>Lon. lavoura</td>
            <td>Tipo</td>
            <td>Data da colheita</td>
            <td>Evento de perda</td>
            <td></td>
          </tr>
        </thead>
        <tbody class='text-nowrap'>
        {% for comunicacao in comunicacoes %}
        <tr>
          <td>
            {{ comunicacao.nome_produtor }}
          </td>
          <td>
            {{ comunicacao.lat_lavoura|floatformat:4 }}
          </td>
          <td>
            {{ comunicacao.lon_lavoura|floatformat:4 }}
          </td>
          <td>
            {{ comunicacao.tipo_lavoura }}
          </td>
          <td>
            {{ comunicacao.data_colheita|date:"d-m-Y" }}
          </td>
          <td>
            {% if comunicacao.evento == '1' %}
              CHUVA EXCESSIVA
            {% elif comunicacao.evento == '2' %}
              GEADA
            {% elif comunicacao.evento == '3' %}
              GRANIZO
            {% elif comunicacao.evento == '4' %}
              SECA
            {% elif comunicacao.evento == '5' %}
              VENDAVAL
            {% elif comunicacao.evento == '6' %}
              RAIO
            {% endif %}
          </td>
          <td style='width: 120px'>
            <div>
              <ul class="list-inline mb-0 font-size-16">
                <li class="list-inline-item">
                  <a href="{% url 'comunicacao' comunicacao.pk %}" class="text-primary p-1">
                    <i class="fa fa-info-circle" title='Ver detalhes'></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'editar_comunicacao' comunicacao.pk %}" class="text-success p-1">
                    <i class="fas fa-edit" title='Editar comunicação'></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'excluir_comunicacao' comunicacao.pk %}" class="text-danger p-1">
                    <i class="fa fa-trash" title='Excluir comunicação'></i>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row mx-auto ">
      <div class="col-12 d-flex justify-content-center">
        <div class="pagination mt-4 ">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; primeiro</a>
                  <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}

              <span class="current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
              {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<script src='{% static "js/jquery-3.6.0.js" %}'></script>
<script src='{% static "js/sidebar.js" %}'></script>

{% endblock content %}
