{% load django_bootstrap5 %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}">Proagro Fácil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'alterar_dados' user.id %}">Meus dados</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Comunicações de perda
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'nova_comunicacao' %}">Nova comunicação</a></li>
              <li><a class="dropdown-item" href="{% url 'comunicacoes' %}">Todas as comunicações</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exportar' %}">
              <span class="">Exportar dados</span>
            </a>
          </li>
        </ul>
        <div class="nav-item mt-2">
          <div class="nav-item dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none nav-link dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <span>Olá, {{ user.first_name }}.</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sair</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="header">
    <p>Bem-vindo, {{user.first_name}}!</p>
  </div>
</header>
