{% load static %}

<div class="sidebar">
  <div class="conteudo_logo">
    <div class="logo">
      <div class="logo_nome text-nowrap">Proagro Fácil</div>
    </div>
    <i class="fa fa-bars" id='btn'></i>
  </div>
  <ul class='nav_list'>
    <li>
      <a href="{% url 'dashboard' %}">
        <i class="fa fa-home"></i>
        <span class='links_nome'>Página Inicial</span>
      </a>
      <span class='dica'>Página Inicial</span>
    </li>
    <hr class='text-white'>
    <li>
      <a href="{% url 'alterar_dados' user.id %}">
        <i class="fas fa-user"></i>
        <span class='links_nome'>Meus dados</span>
      </a>
      <span class='dica'>Meus dados</span>
    </li>
    <hr class='text-white'>
    <li>
      <a href="{% url 'nova_comunicacao' %}">
        <i class="fa fa-plus"></i>
        <span class='links_nome'>Nova comunicação</span>
      </a>
      <span class='dica'>Nova comunicação</span>
    </li>
    <li>
      <a href="{% url 'comunicacoes' %}">
        <i class="fas fa-th-list"></i>
        <span class='links_nome'>Todas as comunicações</span>
      </a>
      <span class='dica'>Todas as comunicações</span>
    </li>
    <hr class='text-white'>
    <li>
      <a href="{% url 'exportar' %}">
        <i class="fas fa-download"></i>
        <span class='links_nome'>Exportar dados</span>
      </a>
      <span class='dica'>Exportar dados</span>
    </li>
  </ul>
  <div class="logoff">
    <div class="texto-link">
      <div class="detalhes">
        <div class="texto">
          Sair da sessão
        </div>
      </div>
      <a href="{% url 'account_logout' %}">
        <i class="fas fa-sign-out-alt" id='logout'></i>
      </a>
    </div>
  </div>

</div>
